{% load static %}
{% load i18n %}
<header id="header" class="header">
    <div class="header-inner">
        <!-- Navbar Starts -->
        <nav class="navbar navbar-expand-lg p-0">
            <!-- Logo Starts -->
            <div class="logo">
                <a class="navbar-brand link-menu" href="#mainslider">
                    <!-- Logo White Starts -->
                    <img id="logo-light" class="logo-light" src="{% static 'img/logo.png'%}" alt="logo-light" />
                    <!-- Logo White Ends -->
                    <!-- Logo Black Starts -->
                    <img id="logo-dark" class="logo-dark" src="{% static 'img/logo.png'%}" alt="logo-dark" />
                    <!-- Logo Black Ends -->
                </a>
            </div>
            <!-- Logo Ends -->
            <!-- Hamburger Icon Starts -->
            <button class="navbar-toggler p-0" type="button">
                <span id="icon-toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
            <!-- Hamburger Icon Ends -->
            <!-- Navigation Menu Starts -->
            <div class="collapse navbar-collapse nav-menu" id="navbarSupportedContent">
                <ul class="nav-menu-inner mr-auto">
                    {% if user.is_authenticated and is_frontend_user %}
                    <li>
                        <a class="link-menu" href="{% url 'furniture:logout' %}">
                            <i class="fa fa-sign-out"></i>   {% trans "Logout" %}
                        </a>
                    </li>
                    <li>
                        <span class="link-menu">
                            <i class="fa fa-user-circle"></i> {% trans "Welcome" %} {{ user.username }}
                        </span>
                    </li>
                    {% else %}
                    <li>
                        <a class="link-menu" href="{% url 'furniture:login' %}">
                            <i class="fa fa-sign-in"></i>  {% trans "Login" %}
                        </a>
                    </li>

                    <li>
                        <a class="btn link-menu" href="#"  data-toggle="modal" data-target="#signupModal">
                            <i class="fa fa-user-plus"></i>   {% trans "Sign Up" %}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="link-menu" href="#mainslider"><i class="fa fa-home"></i>  {% trans "Home" %}</a>

                    </li>
                    <li>
                        <a class="link-menu" href="#about"><i class="fa fa-user"></i>   {% trans "About Us" %}</a>
                    </li>
                    <li>
                        <a class="link-menu" href="#services"><i class="fa fa-cog"></i> {% trans "Services" %}</a>
                    </li>
                    <li>
                        <a class="link-menu" href="#portfolio"><i class="fa fa-image"></i> {% trans "Portfolio" %}</a>
                    </li>
                    <li>
                        <a class="link-menu" href="#team"><i class="fa fa-user"></i>  {% trans "Our Team" %}</a>
                    </li>
                    <li>
                        <a class="link-menu" href="{% url 'furniture:post_list' %}">
                            <i class="fa fa-comments"></i>  {% trans "Blog" %}
                        </a>
                    </li>

                    <li>
                        <a class="link-menu" href="#contact"><i class="fa fa-envelope"></i>  {% trans "Contact Us" %}</a>
                    </li>
                    <li>
  <form id="language-form" method="post" action="{% url 'set_language' %}" style="display: inline;">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}">
    <label class="link-menu" style="margin-bottom: 0; display: flex; align-items: center; gap: 5px;">
      <i class="fa fa-globe"></i>
      <select name="language" onchange="this.form.submit();" class="language-select" style="background: none; border: none; color: inherit; font: inherit;">
        <option value="ar" {% if LANGUAGE_CODE == 'ar' %}selected{% endif %}>العربية</option>
        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
      </select>
    </label>
  </form>
</li>

                </ul>
            </div>
            <!-- Navigation Menu Ends -->
        </nav>
        <!-- Navbar Ends -->
    </div>
</header>


{% include 'user/signup.html' %}